.button{
    width:100%;
    height:100%;
    display:block;
    padding: 50px;
    text-align: center;
}

.button:hover{
    width:100%;
    height:100%;
    display:block;
    padding: 50px;
    text-align: center;
    background-color: firebrick;
    color: wheat;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

body {
    background-image: url('Images/FoodBackground.jpg');
    background-size: cover;
}

.jumbotron {
    background: rgba(224, 224, 224, 0.8);
}
  p{
        text-align: center;
        font-size: 70px;
        color:antiquewhite;
        padding: 200px;
        background-color: peachpuff;
        background-size: cover;
    }
